* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 70%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    color: #1E212C;
    font-family: sans-serif;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #424551;
}

.header1 {
    display: flex;
    gap: 30px;
} 

.header12 {
    display: flex;
    gap: 15px;
}
.header12 img {
    width: 30px;
    height: 40px;
}

.head{
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    color: #424551;
}

.header123 img {
    width: 38px;
    height: 40px;
}